body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
  }
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid blue;
    border-top: 10px solid black;
    animation: spinAnimate 1s linear 0s infinite normal;
}

@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
