*{
    margin: 10;
    padding:10;
    justify-content : center;

}
.header1{
    background-color :rgb(255,0,0);
}
.header2{
    background-color :rgb(255,255,0);
}
.header3{
    background-color :rgb(255,0,210);
}
